Repository IliasAlmerekov/swiftly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "*.{css,scss,sass,less}": ["stylelint --fix", "prettier --write"],
  "*.{html,md,mdx,json,yml,yaml}": ["prettier --write"]
}

test: add Vitest setup and MSW mocks
  src/shared/components/ui/button.test.tsx
  src/test/mocks/db.ts
  src/test/mocks/handlers/auth.ts
  src/test/mocks/handlers/index.ts
  src/test/mocks/handlers/integration.test.ts
  src/test/mocks/handlers/tickets.ts
  src/test/mocks/index.ts
  src/test/mocks/server.ts
  src/test/setup.ts
  src/test/test-utils.tsx
Due: eslint --fix, prettier --write

test: add Playwright E2E tests
  e2e/auth.spec.ts
  e2e/navigation.spec.ts
  playwright.config.ts
Due: eslint --fix, prettier --write

ci: add GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/deploy-preview.yml
Due: prettier --write

feat: add centralized error handler with Sonner
  src/shared/lib/errorHandler.ts
Due: eslint --fix, prettier --write

build: add Vitest, Playwright, bundle analyzer
  package-lock.json
  package.json
  tsconfig.app.json
  vite.config.ts
Due: eslint --fix, prettier --write

refactor: migrate to feature-based imports and paths
  .gitignore
  eslint.config.js
  eslint.config.ts
  src/App.css
  src/App.tsx
  src/api/ai/index.ts
  src/api/auth/index.ts
  src/api/base.ts
  src/api/tickets/index.ts
  src/api/users/index.ts
  src/features/auth/components/RegisterForm.tsx
  src/features/auth/hooks/useLogin.tsx
  src/features/auth/hooks/useRegister.tsx
  src/features/auth/pages/LoginPage.tsx
  src/features/auth/types/auth.ts
  src/features/dashboard/components/UserTicketCard.tsx
  src/features/dashboard/components/ViewSupportStatus.tsx
  src/features/dashboard/components/charts/AnalyticsChart.tsx
  src/features/dashboard/components/charts/TicketStatusChart.tsx
  src/features/dashboard/components/charts/TicketsOfMonth.tsx
  src/features/dashboard/components/charts/UserTicketStats.tsx
  src/features/tickets/components/AiOverlay.tsx
  src/features/tickets/pages/AllTickets.tsx
  src/features/tickets/pages/CreateTicket.tsx
  src/features/tickets/pages/MyTickets.tsx
  src/features/tickets/pages/TicketDetailPage.tsx
  src/features/users/hooks/components/PersonalInformationSection.tsx
  src/features/users/hooks/useAvatarHandlers.ts
  src/features/users/hooks/useProfileEditor.ts
  src/features/users/pages/UserProfile.tsx
  src/shared/api/client.ts
  src/shared/components/ErrorBoundary.tsx
  src/shared/components/layout/AppLayout.tsx
  src/shared/components/layout/nav-user.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: resolve lint errors and add unit tests to CI
  .github/workflows/ci.yml
  .github/workflows/deploy-preview.yml
  .gitlab-ci.yml
  eslint.config.ts
  src/features/auth/api/index.ts
  src/features/auth/hooks/useAuth.ts
  src/features/dashboard/components/DashboardTabContent.tsx
  src/features/tickets/pages/TicketDetailPage.tsx
  src/shared/api/index.ts
  src/shared/api/users.ts
  src/shared/components/auth/ProtectedRoute.tsx
  src/shared/components/layout/nav-user.tsx
Due: eslint --fix, prettier --write

fix: remove invalid ignoreDeprecations option
  tsconfig.app.json
Due: prettier --write

test: add playwrighttests for ticket feature
  .github/agents/playwright-test-generator.agent.md
  .github/agents/playwright-test-healer.agent.md
  .github/agents/playwright-test-planner.agent.md
  .github/workflows/copilot-setup-steps.yml
  e2e/auth.spec.ts
  e2e/seed.spec.ts
  e2e/tickets/create-ticket-attachment.spec.ts
  e2e/tickets/create-ticket-basic.spec.ts
  e2e/tickets/create-ticket-staff.spec.ts
  e2e/tickets/create-ticket-validation.spec.ts
  playwright-report/index.html
  specs/README.md
  specs/ticket-test-plan.md
Due: eslint --fix, prettier --write

feat: add cursor pagination to ticket lists
  src/features/dashboard/components/UserTicketCard.tsx
  src/features/dashboard/components/ViewSupportStatus.tsx
  src/features/dashboard/components/charts/TicketStatusChart.tsx
  src/features/tickets/api/index.ts
  src/features/tickets/hooks/useTickets.ts
  src/features/tickets/pages/AllTickets.tsx
  src/features/tickets/pages/MyTickets.tsx
  src/test/mocks/handlers/integration.test.ts
  src/test/mocks/handlers/tickets.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

refactor: split ticket detail page into components
  src/features/tickets/components/ticket-detail/comment-form.tsx
  src/features/tickets/components/ticket-detail/index.ts
  src/features/tickets/components/ticket-detail/ticket-attachments-card.tsx
  src/features/tickets/components/ticket-detail/ticket-comments.tsx
  src/features/tickets/components/ticket-detail/ticket-description-card.tsx
  src/features/tickets/components/ticket-detail/ticket-details-card.tsx
  src/features/tickets/components/ticket-detail/ticket-edit-form.tsx
  src/features/tickets/components/ticket-detail/ticket-header.tsx
  src/features/tickets/components/ticket-detail/ticket-requester-card.tsx
  src/features/tickets/components/ticket-detail/ticket-workflow-card.tsx
  src/features/tickets/pages/TicketDetailPage.tsx
  src/features/tickets/utils/ticketUtils.ts
  src/shared/hooks/useAdminUsers.ts
Due: eslint --fix, prettier --write

ci: run e2e on main with Playwright image
  .gitlab-ci.yml
Due: prettier --write

chore: fix lint and format checks
  .prettierignore
  e2e/seed.spec.ts
  src/test/test-utils.tsx
Due: eslint --fix, prettier --write

chore: add docker compose for tests
  docker-compose.yml
Due: prettier --write

chore: update playwright artifacts
  playwright-report/index.html
  test-results/.last-run.json
Due: prettier --write

chore: drop playwright artifacts
  .gitignore
  playwright-report/index.html
  test-results/.last-run.json
Due: prettier --write

chore: ignore test-results in prettier
  .prettierignore
Due: none

feat: add shadcn pagination controls
  components.json
  package-lock.json
  package.json
  src/features/tickets/pages/AllTickets.tsx
  src/features/tickets/pages/MyTickets.tsx
  src/shared/components/ui/pagination.tsx
Due: eslint --fix, prettier --write

refactor: unify tab names to 'tickets'
  src/config/paths.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

refactor: add unified getTickets API with scope/status/date filters
  src/features/tickets/api/index.ts
  src/features/tickets/hooks/useTickets.ts
Due: eslint --fix, prettier --write

refactor: extract TicketRow, UserCell, ticket column config
  src/features/tickets/components/TicketRow.tsx
  src/features/tickets/components/TicketTable.tsx
  src/features/tickets/components/UserCell.tsx
  src/features/tickets/config/ticketColumns.tsx
  src/features/tickets/constants/ticketTable.ts
Due: eslint --fix, prettier --write

refactor: add FilterSelect component, enhance TicketSearchBar and useTicketFilter
  src/features/tickets/components/TicketSearchBar.tsx
  src/shared/components/filters/FilterSelect.tsx
  src/shared/hooks/useTicketFilter.ts
Due: eslint --fix, prettier --write

refactor: merge MyTickets and AllTickets into unified Tickets page
  src/features/tickets/index.ts
  src/features/tickets/pages/MyTickets.tsx
  src/features/tickets/pages/Tickets.test.tsx
  src/features/tickets/pages/Tickets.tsx
Due: eslint --fix, prettier --write

refactor: update dashboard components to use unified tickets tab
  src/features/dashboard/components/DashboardContent.tsx
  src/features/dashboard/components/DashboardTabContent.tsx
  src/features/dashboard/components/RecentTickets.tsx
Due: eslint --fix, prettier --write

refactor: use unified getTickets in dashboard cards
  src/features/dashboard/components/UserTicketCard.tsx
  src/features/dashboard/components/ViewSupportStatus.tsx
Due: eslint --fix, prettier --write

refactor: update navigation and sidebar for unified tickets tab
  src/app/router.tsx
  src/shared/components/layout/AppLayout.tsx
  src/shared/components/layout/Sidebar.tsx
Due: eslint --fix, prettier --write

feat: add attachment size validation and show user position
  src/features/tickets/components/ticket-detail/ticket-requester-card.tsx
  src/features/tickets/pages/CreateTicket.tsx
Due: eslint --fix, prettier --write

test: update mock handlers and add API tests
  src/features/tickets/api/index.test.ts
  src/test/mocks/handlers/integration.test.ts
  src/test/mocks/handlers/tickets.ts
Due: eslint --fix, prettier --write

feat(hooks): add usePagination and useIsStaff shared hooks
  src/shared/hooks/useIsStaff.ts
  src/shared/hooks/usePagination.ts
Due: eslint --fix, prettier --write

feat(ui): add reusable UI components
  src/shared/components/layout/TabPageLayout.tsx
  src/shared/components/ui/metric-card.tsx
  src/shared/components/ui/page-size-selector.tsx
  src/shared/components/ui/pagination-controls.tsx
  src/shared/components/ui/status-row.tsx
  src/shared/components/ui/workflow-field.tsx
Due: eslint --fix, prettier --write

refactor(ai-overlay): decompose into sub-components with isolated state
  src/features/tickets/components/ai-overlay/AiOverlay.tsx
  src/features/tickets/components/ai-overlay/AiOverlayFooter.tsx
  src/features/tickets/components/ai-overlay/AiOverlayHeader.tsx
  src/features/tickets/components/ai-overlay/ChatInput.tsx
  src/features/tickets/components/ai-overlay/ChatMessage.tsx
  src/features/tickets/components/ai-overlay/ChatMessageList.tsx
  src/features/tickets/components/ai-overlay/index.ts
  src/features/tickets/components/ai-overlay/useAiChat.ts
Due: eslint --fix, prettier --write

refactor(tickets): use react-hook-form for CreateTicket state isolation
  src/features/tickets/components/CreateTicketForm.tsx
  src/features/tickets/components/CreateTicketHelpSection.tsx
  src/features/tickets/hooks/useCreateTicketForm.ts
  src/features/tickets/pages/CreateTicket.tsx
Due: eslint --fix, prettier --write

refactor(tickets): add debounced search and custom filter hooks
  src/features/tickets/components/TicketSearchBar.tsx
  src/features/tickets/hooks/useTicketFilters.ts
  src/features/tickets/pages/Tickets.tsx
Due: eslint --fix, prettier --write

refactor(tickets): memoize workflow card and cleanup hooks
  src/features/tickets/components/ticket-detail/ticket-workflow-card.tsx
  src/features/tickets/hooks/useTickets.ts
Due: eslint --fix, prettier --write

refactor(users): use react-hook-form for profile form isolation
  src/features/users/hooks/components/PersonalInformationSection.tsx
  src/features/users/hooks/useProfileEditor.ts
  src/features/users/pages/UserProfile.tsx
Due: eslint --fix, prettier --write

refactor(dashboard): cleanup and remove old AiOverlay
  src/features/dashboard/components/AdminTicketCard.tsx
  src/features/dashboard/components/DashboardTabContent.tsx
  src/features/dashboard/components/UserTicketCard.tsx
  src/features/dashboard/components/ViewSupportStatus.tsx
  src/features/tickets/components/AiOverlay.tsx
Due: eslint --fix, prettier --write

style: fix formatting in test files
  src/features/tickets/api/index.test.ts
  src/features/tickets/pages/Tickets.test.tsx
Due: eslint --fix, prettier --write

feat(users): add click-to-enlarge avatar with close button
  src/features/users/hooks/components/UserCard.tsx
  src/shared/components/ui/dialog.tsx
Due: eslint --fix, prettier --write

refactor: rename ScooTeq and Solutions IT to Swiftly
  .gitlab-ci.yml
  README.md
  e2e/auth.spec.ts
  e2e/tickets/create-ticket-attachment.spec.ts
  e2e/tickets/create-ticket-basic.spec.ts
  e2e/tickets/create-ticket-staff.spec.ts
  e2e/tickets/create-ticket-validation.spec.ts
  index.html
  netlify.toml
  package-lock.json
  package.json
  specs/ticket-test-plan.md
  src/app/router.tsx
  src/features/tickets/components/ConfirmOverlay.tsx
  src/shared/components/layout/Sidebar.tsx
Due: eslint --fix, prettier --write

docs(readme): refresh project overview and setup instructions
  README.md
Due: prettier --write
