Repository IliasAlmerekov/swiftly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "*.{css,scss,sass,less}": ["stylelint --fix", "prettier --write"],
  "*.{html,md,mdx,json,yml,yaml}": ["prettier --write"]
}

chore: add changelog and semantic versioning for project
  CHANGELOG.md
  package.json
Due: prettier --write

fix: gitlab-ci to deploy
  .gitlab-ci.yml
Due: prettier --write

fix: gitlab ci to deploy on netlify
  .gitlab-ci.yml
Due: prettier --write

fix: gitlab ci lint stage and test stage
  .gitlab-ci.yml
  package.json
Due: prettier --write

fix: gitlab ci lint stage and test stage
  .gitlab-ci.yml
Due: prettier --write

chore(format): fix Prettier formatiing to satisfy CI
  eslint.config.ts
  index.html
  tsconfig.json
Due: eslint --fix, prettier --write

chore: remove manualChunks to avoid React init order
  vite.config.ts
Due: eslint --fix, prettier --write

chore(user-profile): refactoring css to making responsive for mobile devices
  .gitlab-ci.yml
  src/features/users/components/UserCard.tsx
  src/features/users/pages/UserProfile.tsx
Due: eslint --fix, prettier --write

fix: ticket table add fallback for avatar and name if null
  src/api/api.ts
  src/features/tickets/components/TicketTable.tsx
Due: eslint --fix, prettier --write

chore: added latest changes on changelog and navigate on manager for profile page
  CHANGELOG.md
  src/features/users/components/PersonalInformationSection.tsx
Due: eslint --fix, prettier --write

refactor: stop dashboard rerenders by moving support status state into ViewSupportStatus
  src/features/dashboard/components/DashboardContent.tsx
  src/features/dashboard/components/DashboardTabContent.tsx
  src/features/dashboard/components/ViewSupportStatus.tsx
  src/features/dashboard/pages/DashboardPage.tsx
Due: eslint --fix, prettier --write

refactor: optimize ticket status chart and add react query to better fetch data and fix rerender
  package-lock.json
  package.json
  src/App.tsx
  src/features/dashboard/components/AdminTicketCard.tsx
  src/features/dashboard/components/DashboardContent.tsx
  src/features/dashboard/components/DashboardTabContent.tsx
  src/features/dashboard/components/UserTicketCard.tsx
  src/features/dashboard/components/ViewSupportStatus.tsx
  src/features/dashboard/components/charts/TicketStatusChart.tsx
  src/features/dashboard/pages/DashboardPage.tsx
Due: eslint --fix, prettier --write

chore: add changelog and last changes
  CHANGELOG.md
Due: prettier --write

refactor: change login page design, delete logo image
  src/features/auth/components/LoginForm.tsx
  src/features/auth/pages/LoginPage.tsx
Due: eslint --fix, prettier --write

refactor: use react query, fix issue with rerender and props, usestates
  src/features/dashboard/components/DashboardContent.tsx
  src/features/dashboard/components/DashboardTabContent.tsx
  src/features/dashboard/pages/DashboardPage.tsx
  src/features/tickets/components/AiOverlay.tsx
  src/features/tickets/components/TicketTable.tsx
  src/features/tickets/hooks/useTicketActions.tsx
  src/features/tickets/hooks/useTickets.tsx
  src/features/tickets/pages/AllTickets.tsx
  src/features/tickets/pages/CreateTicket.tsx
  src/features/tickets/pages/MyTickets.tsx
  src/features/tickets/utils/ticketUtils.ts
  src/features/users/components/PersonalInformationSection.tsx
  src/features/users/components/UserForm.tsx
  src/features/users/pages/UserProfile.tsx
  src/index.css
  src/shared/hooks/useTicketFilter.ts
  src/shared/hooks/useTicketStatus.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor(tickets): simplify state, improve filtering and stats
  src/features/tickets/components/TicketStats.tsx
  src/features/tickets/components/TicketTable.tsx
  src/features/tickets/pages/AllTickets.tsx
Due: eslint --fix, prettier --write

fix: user can create Ticket if ai overlay open
  src/features/tickets/components/AiOverlay.tsx
  src/features/tickets/pages/CreateTicket.tsx
Due: eslint --fix, prettier --write

refactor(api): split api modules and add shared error handling
  src/api/ai/index.ts
  src/api/api.ts
  src/api/auth/index.ts
  src/api/base.ts
  src/api/tickets/index.ts
  src/api/users/index.ts
  src/shared/api/client.ts
  src/shared/api/index.ts
  src/shared/components/ErrorBoundary.tsx
  src/shared/context/AuthContext.tsx
  src/shared/context/index.ts
  src/shared/lib/apiErrors.ts
  src/shared/utils/token.ts
Due: eslint --fix, prettier --write

refactor(users): reorganize user components and profile hooks
  src/components/Aurora.tsx
  src/features/users/hooks/components/ErrorState.tsx
  src/features/users/hooks/components/LoadingState.tsx
  src/features/users/hooks/components/ManagerSelect.tsx
  src/features/users/hooks/components/PersonalInformationSection.tsx
  src/features/users/hooks/components/UserCard.tsx
  src/features/users/hooks/components/UserSearchBar.tsx
  src/features/users/hooks/components/VirtualizedManagerSelect.tsx
  src/features/users/hooks/components/index.ts
  src/features/users/hooks/useAvatarHandlers.ts
  src/features/users/hooks/useProfileEditor.ts
  src/features/users/pages/UserProfile.tsx
Due: eslint --fix, prettier --write

feat(auth): adjust auth forms and hooks
  src/features/auth/components/LoginForm.tsx
  src/features/auth/components/RegisterForm.tsx
  src/features/auth/hooks/useLogin.tsx
  src/features/auth/hooks/useRegister.tsx
  src/features/auth/pages/LoginPage.tsx
  src/features/auth/pages/RegisterPage.tsx
  src/shared/components/auth/ProtectedRoute.tsx
  src/shared/hooks/useAuth.ts
Due: eslint --fix, prettier --write

feat(dashboard): refresh dashboard widgets
  src/features/dashboard/components/DashboardContent.tsx
  src/features/dashboard/components/DashboardTabContent.tsx
  src/features/dashboard/components/RecentTickets.tsx
  src/features/dashboard/components/UserTicketCard.tsx
  src/features/dashboard/components/ViewSupportStatus.tsx
  src/features/dashboard/components/charts/AnalyticsChart.tsx
  src/features/dashboard/components/charts/TicketStatusChart.tsx
  src/features/dashboard/components/charts/TicketsOfMonth.tsx
  src/features/dashboard/components/charts/UserTicketStats.tsx
Due: eslint --fix, prettier --write

feat(tickets): update ticket pages and components
  src/features/tickets/components/AiOverlay.tsx
  src/features/tickets/components/ConfirmOverlay.tsx
  src/features/tickets/components/TicketSearchBar.tsx
  src/features/tickets/components/TicketStats.tsx
  src/features/tickets/components/TicketTable.tsx
  src/features/tickets/pages/AllTickets.tsx
  src/features/tickets/pages/CreateTicket.tsx
  src/features/tickets/pages/MyTickets.tsx
  src/features/tickets/pages/TicketDetailPage.tsx
  src/features/tickets/types/ticket.ts
  src/features/tickets/utils/ticketUtils.ts
  src/shared/hooks/useTicketFilter.ts
  src/shared/hooks/useTicketStatus.ts
Due: eslint --fix, prettier --write

refactor(layout): update app shell and shared types
  src/App.tsx
  src/shared/components/layout/AppLayout.tsx
  src/shared/components/layout/Sidebar.tsx
  src/shared/components/layout/nav-user.tsx
  src/shared/components/ui/mode-toogle.tsx
  src/types/index.ts
Due: eslint --fix, prettier --write

chore(deps): update packages and tooling
  components.json
  index.html
  package-lock.json
  package.json
  tsconfig.app.json
Due: prettier --write

docs(readme): update readme
  README.md
Due: prettier --write

ci: move linting to pipeline
  .gitlab-ci.yml
  .husky/pre-commit
Due: prettier --write

fix: stabilize ai analytics data loading
  src/api/ai/index.ts
  src/features/dashboard/components/charts/AnalyticsChart.tsx
Due: eslint --fix, prettier --write

feat: allow staff to set ticket priority and category
  src/features/tickets/pages/CreateTicket.tsx
  src/features/tickets/utils/ticketUtils.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

feat: refresh ticket detail layout
  src/features/tickets/pages/TicketDetailPage.tsx
  src/shared/components/ui/tabs.tsx
Due: eslint --fix, prettier --write

feat: redesign ai assistant overlay
  src/features/tickets/components/AiOverlay.tsx
Due: eslint --fix, prettier --write

fix: preserve ticket tab context
  src/features/tickets/pages/AllTickets.tsx
  src/features/tickets/pages/MyTickets.tsx
  src/shared/components/layout/AppLayout.tsx
Due: eslint --fix, prettier --write

chore: align ticket table and profile behavior
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/DI.md
  docs/QUALITY.md
  docs/TESTING.md
  docs/adr/0001-template.md
  src/api/tickets/index.ts
  src/features/dashboard/components/charts/TicketsOfMonth.tsx
  src/features/tickets/components/TicketTable.tsx
  src/features/users/pages/UserProfile.tsx
Due: eslint --fix, prettier --write

fix: update tsconfig deprecation setting
  tsconfig.app.json
Due: prettier --write

chore: format docs and ui files
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/DI.md
  docs/QUALITY.md
  docs/TESTING.md
  docs/adr/0001-template.md
  src/features/tickets/components/AiOverlay.tsx
  src/features/tickets/components/TicketTable.tsx
  src/features/tickets/pages/TicketDetailPage.tsx
  src/shared/components/ui/tabs.tsx
Due: eslint --fix, prettier --write

fix: type api stats responses
  src/api/tickets/index.ts
  src/api/users/index.ts
  src/features/dashboard/components/charts/UserTicketStats.tsx
Due: eslint --fix, prettier --write

feat(architecture): add app layer with provider and router separation
  src/app/index.tsx
  src/app/provider.tsx
  src/app/router.tsx
  src/config/env.ts
  src/config/paths.ts
  src/main.tsx
Due: eslint --fix, prettier --write

feat(auth): add feature API and React Query hooks
  src/features/auth/api/index.ts
  src/features/auth/hooks/useAuth.ts
  src/features/auth/index.ts
Due: eslint --fix, prettier --write

feat(tickets): add feature API and React Query hooks
  src/features/tickets/api/ai.ts
  src/features/tickets/api/index.ts
  src/features/tickets/hooks/useTickets.ts
  src/features/tickets/index.ts
Due: eslint --fix, prettier --write

feat(users,dashboard): add feature APIs and barrel exports
  src/features/dashboard/index.ts
  src/features/users/api/index.ts
  src/features/users/hooks/useUsers.ts
  src/features/users/index.ts
Due: eslint --fix, prettier --write
