Repository IliasAlmerekov/swiftly: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore(architecture): enforce frontend dependency boundaries
  .github/workflows/ci.yml
  .gitlab-ci.yml
  docs/ARCHITECTURE.md
  docs/adr/0002-frontend-dependency-rules.md
  eslint.config.ts
Due: eslint --fix, prettier --write

refactor(dashboard): move composition to app and remove cross-feature deps
  src/app/hooks/useDashboardData.ts
  src/app/pages/DashboardPage.test.tsx
  src/app/pages/DashboardPage.tsx
  src/app/router.tsx
  src/features/dashboard/components/AdminTicketCard.tsx
  src/features/dashboard/components/DashboardContent.tsx
  src/features/dashboard/components/DashboardTabContent.tsx
  src/features/dashboard/components/RecentTickets.tsx
  src/features/dashboard/components/UserTicketCard.tsx
  src/features/dashboard/components/ViewSupportStatus.tsx
  src/features/dashboard/components/charts/AnalyticsChart.tsx
  src/features/dashboard/components/charts/TicketStatusChart.tsx
  src/features/dashboard/components/charts/TicketsOfMonth.tsx
  src/features/dashboard/components/charts/UserTicketStats.tsx
  src/features/dashboard/index.ts
  src/features/dashboard/pages/Analytics.tsx
  src/features/dashboard/pages/DashboardPage.tsx
  src/features/dashboard/types/dashboard.ts
  src/features/tickets/index.ts
Due: eslint --fix, prettier --write

refactor: harden contexts with strict context and add page DI contract
  src/app/pages/DashboardPage.tsx
  src/app/pages/dashboard-page-contract.tsx
  src/provider/theme-provider.test.tsx
  src/provider/theme-provider.tsx
  src/shared/components/ui/chart.tsx
  src/shared/components/ui/form.tsx
  src/shared/components/ui/sidebar.tsx
  src/shared/context/AuthContext.tsx
  src/shared/lib/createStrictContext.ts
Due: eslint --fix, prettier --write

chore: add changelog and fix url bakend service
  CHANGELOG.md
  netlify.toml
Due: prettier --write

perf: audit memoization and remove unnecessary hooks
  docs/perf-notes.md
  src/app/pages/DashboardPage.test.tsx
  src/features/dashboard/components/DashboardTabContent.tsx
  src/features/dashboard/components/UserTicketCard.tsx
  src/features/dashboard/hooks/useGreeting.test.ts
  src/features/dashboard/hooks/useGreeting.ts
  src/features/tickets/components/CreateTicketForm.tsx
  src/features/tickets/components/TicketSearchBar.tsx
  src/features/tickets/components/ai-overlay/AiOverlay.tsx
  src/features/tickets/components/ai-overlay/ChatInput.tsx
  src/features/tickets/hooks/useCreateTicketForm.ts
  src/features/tickets/pages/TicketDetailPage.tsx
  src/features/tickets/pages/Tickets.test.tsx
  src/features/tickets/pages/Tickets.tsx
  src/features/users/hooks/components/PersonalInformationSection.tsx
  src/features/users/pages/UserProfile.tsx
  src/shared/components/layout/Sidebar.tsx
  src/shared/hooks/usePagination.ts
Due: eslint --fix, prettier --write

fix(security): harden guards, sanitization and env checks
  docs/security-rbac.md
  src/app/pages/DashboardPage.test.tsx
  src/app/router.tsx
  src/config/env.ts
  src/features/auth/api/index.ts
  src/features/tickets/components/ai-overlay/ChatMessage.test.tsx
  src/features/tickets/components/ai-overlay/ChatMessage.tsx
  src/features/tickets/components/ai-overlay/useAiChat.ts
  src/features/tickets/pages/Tickets.test.tsx
  src/features/users/api/index.ts
  src/features/users/hooks/components/PersonalInformationSection.tsx
  src/features/users/hooks/useProfileEditor.ts
  src/features/users/pages/UserProfile.tsx
  src/shared/api/users.ts
  src/shared/components/ErrorBoundary.tsx
  src/shared/components/auth/AccessGuard.tsx
  src/shared/components/auth/ProtectedRoute.test.tsx
  src/shared/components/auth/ProtectedRoute.tsx
  src/shared/components/layout/nav-user.tsx
  src/shared/lib/errorHandler.ts
  src/shared/lib/security/sanitizeRichText.test.ts
  src/shared/lib/security/sanitizeRichText.ts
  src/shared/security/access-matrix.ts
Due: eslint --fix, prettier --write

fix(security): enforce dashboard tab access via matrix
  src/features/dashboard/components/DashboardTabContent.tsx
Due: eslint --fix, prettier --write

feat(api): unify error contracts and runtime validation
  README.md
  src/features/auth/api/index.ts
  src/features/tickets/api/ai.ts
  src/features/tickets/api/index.test.ts
  src/features/tickets/api/index.ts
  src/features/users/api/index.ts
  src/shared/api/client.ts
  src/shared/api/contracts.ts
  src/shared/api/users.ts
  src/shared/lib/apiErrors.ts
  src/shared/lib/errorHandler.ts
  src/types/api-error.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

feat: stabilize auth and ticket API contracts
  index.html
  package-lock.json
  package.json
  src/components/Aurora.tsx
  src/components/LiquidEther.tsx
  src/features/auth/api/index.ts
  src/features/auth/components/AuthBackground.tsx
  src/features/auth/components/RegisterForm.tsx
  src/features/auth/hooks/useLogin.test.tsx
  src/features/auth/hooks/useLogin.tsx
  src/features/auth/pages/LoginPage.tsx
  src/features/auth/pages/RegisterPage.tsx
  src/features/tickets/api/index.test.ts
  src/features/tickets/api/index.ts
  src/features/tickets/components/ai-overlay/AiOverlayFooter.tsx
  src/features/users/api/index.test.ts
  src/provider/theme-provider.tsx
  src/shared/api/client.test.ts
  src/shared/api/client.ts
  src/shared/api/contracts.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

test: cover critical flows with deterministic integration/e2e gates
  docker-compose.yml
  docs/TESTING.md
  docs/adr/0003-deterministic-e2e-mock-api.md
  docs/critical-flows-test-matrix.md
  e2e/critical-flows.negative.spec.ts
  e2e/critical-flows.smoke.spec.ts
  e2e/support/mock-api.ts
  e2e/tickets/create-ticket-attachment.spec.ts
  e2e/tickets/create-ticket-basic.spec.ts
  e2e/tickets/create-ticket-staff.spec.ts
  e2e/tickets/create-ticket-validation.spec.ts
  package.json
  playwright.config.ts
  scripts/check-changed-files-coverage.mjs
  src/test/mocks/handlers/integration.test.ts
Due: eslint --fix, prettier --write

chore: format new critical-flow testing files
  docs/critical-flows-test-matrix.md
  e2e/support/mock-api.ts
  scripts/check-changed-files-coverage.mjs
Due: eslint --fix, prettier --write

feat: add security hardering docs and ci enhancements
  .github/CODEOWNERS
  .github/workflows/ci.yml
  .gitignore
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/DI.md
  docs/QUALITY.md
  docs/SECURITY.md
  docs/TESTING.md
Due: prettier --write

fix(ci): prevent IOC scanner self-matching in workflow
  .github/scripts/security-ioc-scan-self-test.sh
  .github/scripts/security-ioc-scan.sh
  .github/security/ioc-patterns.txt
  .github/workflows/ci.yml
Due: prettier --write

style(docs): format security checklist with prettier
  docs/SECURITY.md
Due: prettier --write

ci(dx): enforce container-first quality gates and hooks
  .github/workflows/ci.yml
  .gitlab-ci.yml
  .husky/pre-push
  README.md
  docker-compose.yml
  docs/QUALITY.md
  eslint.config.ts
  package.json
Due: eslint --fix, prettier --write

fix(husky): run hooks via docker compose for container-first checks
  .husky/pre-commit
  .husky/pre-push
Due: none

test(theme-provider): increase timeout for rerender stability under load
  src/provider/theme-provider.test.tsx
Due: eslint --fix, prettier --write

test(use-login): make failed-submit assertion deterministic
  src/features/auth/hooks/useLogin.test.tsx
Due: eslint --fix, prettier --write

fix(ci): remove disallowed GitHub actions from workflow
  .github/workflows/ci.yml
Due: prettier --write

ci(workflow): run GitHub CI only for pull requests
  .github/workflows/ci.yml
Due: prettier --write

chore(release): complete stage 10 readiness for v1.1.1
  CHANGELOG.md
  docs/migration-notes.md
  docs/perf-notes.md
  docs/release-checklist.md
  eslint.config.ts
  package-lock.json
  package.json
  scripts/check-perf-budget.mjs
  src/app/provider.tsx
  src/shared/api/client.ts
  src/shared/components/ErrorBoundary.test.tsx
  src/shared/lib/errorHandler.ts
  src/shared/lib/observability.test.ts
  src/shared/lib/observability.ts
Due: eslint --fix, prettier --write

feat(ai-chat): align frontend contract and chat overlay behavior
  docker-compose.yml
  src/features/auth/components/LoginForm.tsx
  src/features/auth/components/RegisterForm.tsx
  src/features/tickets/api/ai.test.ts
  src/features/tickets/components/ai-overlay/AiOverlayFooter.tsx
  src/features/tickets/components/ai-overlay/AiOverlayHeader.tsx
  src/features/tickets/components/ai-overlay/ChatInput.tsx
  src/features/tickets/components/ai-overlay/ChatMessage.tsx
  src/features/tickets/components/ai-overlay/useAiChat.ts
  src/shared/api/contracts.ts
  src/types/index.ts
  vite.config.ts
Due: eslint --fix, prettier --write

fix(types): align ai response schema input/output typing
  src/shared/api/contracts.ts
Due: eslint --fix, prettier --write

test(e2e): stabilize create-ticket smoke flow selectors
  e2e/critical-flows.smoke.spec.ts
Due: eslint --fix, prettier --write

test(greeting): remove fake-timer flakiness in dashboard hook tests
  src/features/dashboard/hooks/useGreeting.test.ts
  src/features/dashboard/hooks/useGreeting.ts
Due: eslint --fix, prettier --write

feat: add loading state and prevent duplicate submits in registration form
  src/features/auth/components/RegisterForm.tsx
  src/features/auth/hooks/useRegister.test.tsx
  src/features/auth/hooks/useRegister.tsx
Due: eslint --fix, prettier --write

fix(api): skip unauthorized redirect during tests
  src/shared/api/client.ts
Due: eslint --fix, prettier --write

test(auth): stabilize ProtectedRoute redirect assertion
  src/shared/components/auth/ProtectedRoute.test.tsx
Due: eslint --fix, prettier --write

docs(auth): define phase-0 cookie session contract
  docs/adr/0004-auth-cookie-session-contract.md
  docs/migration-notes.md
Due: prettier --write

feat(auth): migrate frontend transport to cookie session
  src/features/auth/api/index.ts
  src/features/users/api/index.test.ts
  src/shared/api/client.ts
  src/shared/api/contracts.ts
  src/shared/context/AuthContext.test.tsx
  src/shared/context/AuthContext.tsx
Due: eslint --fix, prettier --write

test(e2e): align auth mocks with cookie-session flow
  e2e/critical-flows.negative.spec.ts
  e2e/critical-flows.smoke.spec.ts
  e2e/navigation.spec.ts
  e2e/support/mock-api.ts
Due: eslint --fix, prettier --write

test(e2e): stabilize login selectors and navigation readiness
  e2e/navigation.spec.ts
  e2e/support/mock-api.ts
Due: eslint --fix, prettier --write

fix(e2e): prevent login redirect loop on 401
  e2e/navigation.spec.ts
  src/shared/api/client.ts
Due: eslint --fix, prettier --write

refactor(auth): remove frontend jwt storage utilities
  e2e/critical-flows.smoke.spec.ts
  src/shared/api/client.test.ts
  src/shared/context/AuthContext.tsx
  src/shared/utils/jwt.test.ts
  src/shared/utils/jwt.ts
  src/shared/utils/token.ts
  src/types/api.ts
Due: eslint --fix, prettier --write

test(jwt): replace Buffer with browser-safe base64url helper
  src/shared/utils/jwt.test.ts
Due: eslint --fix, prettier --write

fix(profile): tolerate nullable avatar object fields
  src/features/users/api/index.test.ts
  src/shared/api/contracts.ts
Due: eslint --fix, prettier --write

fix(api): deduplicate concurrent profile fetches
  src/shared/api/users.test.ts
  src/shared/api/users.ts
Due: eslint --fix, prettier --write

chore: change sidebar logo to swiflty
  index.html
  public/favicon.png
  public/head.png
  src/assets/sidebarLogo.png
  src/assets/swiftly_logo.png
  src/assets/swiftly_logo1.png
  src/shared/components/layout/Sidebar.tsx
Due: eslint --fix, prettier --write

chore: add project codex configs and current state notes
  .codex/agents/explorer.toml
  .codex/agents/reviewer.toml
  .codex/agents/tester.toml
  .codex/agents/worker.toml
  .codex/config.toml
  docs/CODEBASE_CURRENT_STATE_FACTS.md
Due: prettier --write

docs(auth): formalize cookie-session contract and OpenAPI auth spec
  docs/AUTH_CONTRACT.md
  docs/adr/0004-auth-cookie-session-contract.md
  specs/openapi.yaml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,cjs,mjs}) or (any of: *.{css,scss,sass,less})) or (any of: *.{html,md,mdx,json,yml,yaml})
  stylelint --fix: any of: *.{css,scss,sass,less}
